<div>
  <h1>Available Files</h1>
  <ul>
    {{#each data}}
        <h3>{{this.folder}}</h3>
        {{#each this.files}}
            <li><a href="/schemas/{{../this.folder}}/{{sanitize this}}">{{this}}</a></li>
        {{/each}}
    {{/each}}
  </ul>
</div>


